pipeline/pl_ingest_workflow.json
{
	"name": "pl_ingest_workflow",
	"properties": {
		"activities": [
			{
				"name": "Set databricks instance",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "databricks_instance",
					"value": {
						"value": "@concat('adb-', pipeline().parameters.DATABRICKS_WORKSPACE_NAME, '.azuredatabricks.net')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Get databricks access token from API",
				"type": "WebActivity",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Set databricks instance",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"headers": {
						"Content-Type": "application/x-www-form-urlencoded"
					},
					"url": {
						"value": "@concat('https://', variables('databricks_instance'), '/oidc/v1/token')",
						"type": "Expression"
					},
					"body": "grant_type=client_credentials&scope=all-apis",
					"authentication": {
						"type": "Basic",
						"username": {
							"value": "@pipeline().parameters.DATABRICKS_CLIENT_ID",
							"type": "Expression"
						},
						"password": {
							"type": "AzureKeyVaultSecret",
							"store": {
								"referenceName": "formula1_kv_udemy_course",
								"type": "LinkedServiceReference"
							},
							"secretName": "databricks-client-secret"
						}
					}
				}
			},
			{
				"name": "Run Job Auth by Managed Id",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Set databricks instance",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": {
						"value": "@concat('https://', variables('databricks_instance'), '/api/2.1/jobs/run-now')",
						"type": "Expression"
					},
					"body": {
						"value": "@concat('{\"job_id\": ', string(pipeline().parameters.DATABRICKS_WORKFLOW_JOB_ID), ',',\n    '\"job_params\":',\n        '{\"p_batch\":\"', variables('p_batch'), '\",',\n         '\"p_data_source\": \"', variables('p_data_source'), '\",',\n         '\"p_data_type\": \"', variables('p_data_type'), '\"}}')",
						"type": "Expression"
					},
					"authentication": {
						"type": "MSI",
						"resource": {
							"value": "@pipeline().parameters.DATABRICKS_RESOURCE",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Run Job",
				"type": "WebActivity",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Get databricks access token from API",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"headers": {
						"Authorization": {
							"value": "@concat(activity('Get databricks access token from API').output.token_type, ' ', activity('Get databricks access token from API').output.access_token)",
							"type": "Expression"
						}
					},
					"url": {
						"value": "@concat('https://', variables('databricks_instance'), '/api/2.1/jobs/run-now')",
						"type": "Expression"
					},
					"body": {
						"value": "\n{\n    \"job_id\": 261672099840286,\n    \"job_params\":\n    {\n        \"p_batch\":\"2021-04-18\",\n        \"p_data_source\":\"Ergast API\",\n        \"p_data_type\": \"batch\"\n    }\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Wait Until Workflow ended",
				"type": "Until",
				"dependsOn": [
					{
						"activity": "Run Job Auth by Managed Id",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@or(or(or(\n    equals(variables('job_state'), 'TERMINATED'),\n    equals(variables('job_state'), 'SKIPPED')\n    ),\n    equals(variables('job_state'), 'INTERNAL_ERROR')\n    ),\n    equals(variables('job_state'), 'BLOCKED')\n    )\n)",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Get job state",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"method": "GET",
								"url": {
									"value": "@concat('https://', variables('databricks_instance'), '/api/2.1/jobs/runs/get?run_id=', activity('Run Job Auth by Managed Id').output.run_id)",
									"type": "Expression"
								},
								"authentication": {
									"type": "MSI",
									"resource": {
										"value": "@pipeline().parameters.DATABRICKS_RESOURCE",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "Update job state to life_cycle_state",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Get job state",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "job_state",
								"value": {
									"value": "@activity('Get job state').output.state.life_cycle_state",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Wait1",
							"type": "Wait",
							"dependsOn": [
								{
									"activity": "Update job state to life_cycle_state",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": {
									"value": "@variables('job_check_interval')",
									"type": "Expression"
								}
							}
						}
					],
					"timeout": "0.00:15:00"
				}
			},
			{
				"name": "Stop workflow",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Wait Until Workflow ended",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": {
						"value": "@concat('https://', variables('databricks_instance'), '/api/2.1/jobs/cancel?run_id', activity('Run Job Auth by Managed Id').output.run_id)",
						"type": "Expression"
					},
					"body": {
						"value": "@concat('{\"job_id\": ', string(pipeline().parameters.DATABRICKS_WORKFLOW_JOB_ID), ',',\n    '\"job_params\":',\n        '{\"p_batch\":\"', variables('p_batch'), '\",',\n         '\"p_data_source\": \"', variables('p_data_source'), '\",',\n         '\"p_data_type\": \"', variables('p_data_type'), '\"}}')",
						"type": "Expression"
					},
					"authentication": {
						"type": "MSI",
						"resource": {
							"value": "@pipeline().parameters.DATABRICKS_RESOURCE",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Check job result_state",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Wait Until Workflow ended",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(\n    activity('Get job state').output.state.result_state,\n    'SUCCESS'\n)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Update job state to result_state",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "job_state",
								"value": {
									"value": "@activity('Get job state').output.status.result_state",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"concurrency": 1,
		"parameters": {
			"DATABRICKS_HOST": {
				"type": "string",
				"defaultValue": "https://accounts.azuredatabricks.net"
			},
			"DATABRICKS_CLIENT_ID": {
				"type": "string",
				"defaultValue": "380282b7-3b0a-41e1-a143-60c159468243"
			},
			"DATABRICKS_WORKSPACE_NAME": {
				"type": "string",
				"defaultValue": "1166845494932407.7"
			},
			"DATABRICKS_ACCOUNT_ID": {
				"type": "string",
				"defaultValue": "67aeafa9-9677-4a69-afc5-7d366447e3d3"
			},
			"DATABRICKS_WORKFLOW_JOB_ID": {
				"type": "int",
				"defaultValue": 261672099840286
			},
			"DATABRICKS_RESOURCE": {
				"type": "string",
				"defaultValue": "2ff814a6-3304-4ab8-85cb-cd0e6f879c1d"
			}
		},
		"variables": {
			"databricks_instance": {
				"type": "String"
			},
			"p_batch": {
				"type": "String",
				"defaultValue": "2021-04-18"
			},
			"p_data_source": {
				"type": "String",
				"defaultValue": "Ergast API"
			},
			"p_data_type": {
				"type": "String",
				"defaultValue": "batch"
			},
			"job_state": {
				"type": "String",
				"defaultValue": "PENDING"
			},
			"job_check_interval": {
				"type": "Integer",
				"defaultValue": 10
			}
		},
		"annotations": []
	}
}